* {
  box-sizing: border-box; }

html {
  width: 100%;
  font-size: 100%;
  background-color: #fbf5f3;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

header {
  height: 4.9em;
  top: -0.5em;
  right: 0;
  padding: 0.13em 0 0.4em;
  position: fixed;
  width: 105%;
  color: #fbf5f3;
  background-color: none;
  z-index: 2;
  transition: all 0.7s ease-in-out; }
  header div {
    max-width: 100%;
    width: 100%;
    padding: 0.7em 6em 0em 8em; }
    header div h1 {
      display: inline-block;
      font-family: 'ABeeZee', sans-serif;
      font-size: 1.5em; }

.header-fixed {
  background-color: rgba(225, 225, 225, 0.8);
  position: fixed;
  border-bottom: 0.5em solid #393939;
  color: #393939; }
  .header-fixed a {
    color: #393939; }

.header-toggle {
  top: -15%; }

nav {
  float: right;
  display: inline-block; }
  nav ul {
    line-height: 2em;
    text-align: right;
    text-decoration: none; }
    nav ul li {
      position: relative;
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle; }
      nav ul li a {
        font-family: 'Cambay', sans-serif;
        text-decoration: none;
        color: #fbf5f3; }

.banner {
  background-image: url('../images/KittPeak_stars.jpg');
  background-size: cover;
  padding: 3% 0;
  height: 45em; }

.marquee {
  background-image: url('../images/desktop.jpg');
  background-size: cover;
  padding: 3% 0;
  height: 45em; }
  .marquee #desktop-blank {
    width: 43%;
    height: 10em;
    position: relative;
    left: 3%;
    margin: 3em auto;
    font-size: 2em;
    line-height: 1.5em;
    font-family: 'ABeeZee', sans-serif; }
    .marquee #desktop-blank div {
      font-size: 5em;
      height: 5em;
      width: 100%; }
    .marquee #desktop-blank h2 {
      font-family: 'Cambay', sans-serif;
      line-height: 2em;
      font-size: 2em; }

.three-banner {
  height: 30em;
  width: 100%;
  position: relative;
  text-align: center;
  background: linear-gradient(to bottom right, #4F7CAC, #fbf5f3);
  border-top: 2px solid #393939;
  border-bottom: 2px solid #393939; }
  .three-banner .vector-block {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    margin-top: 5rem; }
    .three-banner .vector-block .vectors {
      width: 33%;
      height: 100%;
      display: inline-block;
      float: left; }
      .three-banner .vector-block .vectors #desktopSvg {
        margin-top: 0;
        border: 1px solid black; }
      .three-banner .vector-block .vectors #phoneSvg {
        margin-top: 6em;
        border: 1px solid black; }
      .three-banner .vector-block .vectors #tablet {
        margin-top: 4em;
        border: 1px solid black; }
  .three-banner .sub-headings {
    list-style-type: none; }
    .three-banner .sub-headings li {
      display: inline-block; }

.portfolio {
  width: 100%;
  margin-top: 0%; }
  .portfolio .portfolio-headr {
    height: 8em;
    background-color: #393939;
    text-align: center; }
    .portfolio .portfolio-headr h2 {
      margin: 0;
      font-family: 'ABeeZee', sans-serif; }
  .portfolio .two-group {
    width: 80%;
    margin: 0 auto;
    display: -webkit-flex-;
    display: -webkit-flex;
    display: flex; }
    .portfolio .two-group .project {
      border: 3px solid black;
      width: 41%;
      padding: 1%;
      padding-top: 2.5%;
      margin: 4% 5%;
      display: inline-block;
      transition-property: background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      transition-delay: 0s; }
      .portfolio .two-group .project a {
        visibility: hidden; }
      .portfolio .two-group .project:hover {
        background-color: rgba(43, 63, 112, 0.5); }
        .portfolio .two-group .project:hover a {
          visibility: visible; }
      .portfolio .two-group .project .project-content {
        width: 91%;
        margin: 0 auto;
        position: relative; }
        .portfolio .two-group .project .project-content .project-hover {
          width: 100%;
          height: 69.5%;
          border: 3px solid #2B3F70;
          position: absolute; }
          .portfolio .two-group .project .project-content .project-hover a {
            display: none;
            text-align: center;
            background-color: transparent;
            text-transform: uppercase;
            border: 2px solid #e2e8f2;
            position: absolute;
            left: 50%;
            top: 33%;
            margin-left: -58px;
            display: inline-block;
            padding: 0.75em;
            text-decoration: none;
            color: #fff; }
        .portfolio .two-group .project .project-content h2 {
          border-bottom: 2px solid black;
          margin: 0;
          margin-top: 0.4em;
          font-family: 'Cambay', sans-serif; }
        .portfolio .two-group .project .project-content p {
          font-family: 'ABeeZee', sans-serif;
          font-size: 0.8em;
          margin: 0;
          margin-top: 0.5em; }
        .portfolio .two-group .project .project-content img {
          border: 2px solid white;
          width: 100%;
          height: auto; }
    .portfolio .two-group .selected {
      margin: 0 auto; }

/* Projects

.projects{
	width: 100%;
	height: 40em;
	text-align: center;
	overflow: hidden;
	#hotorcold {
		background-image: url('../images/thumbnails/hotorcold.png');

	}
	#stackoverflow {
		background-image: url('../images/thumbnails/stackoverflow.png');

	}
	#streetfighter {
		background-image: url('../images/thumbnails/streetfighter.png');

	}
	#musicdiscovery {
		background-image: url('../images/thumbnails/musicdiscovery.png');

	}
	#youtube_api {
		background-image: url('../images/thumbnails/youtube_api.png');

	}
	#water-quiz {
		background-image: url('../images/thumbnails/waterquiz.png');

	}
	

}


*/