* {
  box-sizing: border-box; }

html {
  width: 100%;
  font-size: 100%;
  background-color: #fbf5f3;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

header {
  height: 4.9em;
  top: -0.5em;
  right: 0;
  padding: 0.13em 0 0.4em;
  position: fixed;
  width: 105%;
  background-color: #fbf5f3;
  border-bottom: 0.5em solid #393939;
  z-index: 2;
  transition: 0.7s top ease-in-out; }
  header div {
    max-width: 100%;
    width: 100%;
    padding: 0.7em 8em 0em 8em; }
    header div h1 {
      display: inline-block;
      font-family: 'ABeeZee', sans-serif;
      font-size: 1.5em; }

.header-toggle {
  top: -10%; }

nav {
  float: right;
  display: inline-block; }
  nav ul {
    line-height: 2em;
    text-align: right;
    text-decoration: none; }
    nav ul li {
      position: relative;
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle; }
      nav ul li a {
        font-family: 'Cambay', sans-serif;
        text-decoration: none;
        color: black; }

.marquee {
  background-image: url('../images/desktop.jpg');
  opacity: 0.7;
  background-size: cover;
  padding: 3% 0;
  height: 45em;
  border-top: 4em solid #393939; }
  .marquee #desktop-blank {
    width: 43%;
    height: 10em;
    position: relative;
    left: 3%;
    margin: 3em auto;
    font-size: 2em;
    line-height: 1.5em;
    font-family: 'ABeeZee', sans-serif; }
    .marquee #desktop-blank div {
      font-size: 5em;
      height: 5em;
      width: 100%; }
    .marquee #desktop-blank h2 {
      font-family: 'Cambay', sans-serif;
      line-height: 2em;
      font-size: 2em; }

.three-banner {
  height: 30em;
  width: 100%;
  position: relative;
  text-align: center;
  background: linear-gradient(to bottom right, #4F7CAC, #fbf5f3);
  border-top: 2px solid #393939;
  border-bottom: 2px solid #393939; }
  .three-banner .vector-block {
    width: 80%;
    height: 60%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 5rem; }
    .three-banner .vector-block .vectors {
      width: 33%;
      height: 100%;
      display: inline-block;
      border: 1px solid black; }

.projects {
  width: 100%;
  height: 60em;
  text-align: center;
  overflow: hidden; }
  .projects #hotorcold {
    background-image: url('../images/thumbnails/hotorcold.png'); }
  .projects #stackoverflow {
    background-image: url('../images/thumbnails/stackoverflow.png'); }
  .projects #streetfighter {
    background-image: url('../images/thumbnails/streetfighter.png'); }
  .projects #musicdiscovery {
    background-image: url('../images/thumbnails/musicdiscovery.png'); }
  .projects #youtube_api {
    background-image: url('../images/thumbnails/youtube_api.png'); }
  .projects #water-quiz {
    background-image: url('../images/thumbnails/waterquiz.png'); }
  .projects article {
    width: 33.333%;
    font-family: 'Cambay', sans-serif;
    font-weight: 500;
    background-size: 120%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 23em;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    margin: -2px;
    overflow: hidden;
    transition: all 2s ease-in-out; }
    .projects article h2 {
      position: relative;
      top: -3em;
      transition: top 1s ease; }
    .projects article hr {
      width: 30%;
      transition: width 1.5s ease; }
    .projects article p {
      position: relative;
      bottom: -3em;
      transition: bottom 1s ease; }
    .projects article:hover {
      background-size: 100%;
      background-color: #fff; }
      .projects article:hover h2 {
        top: 0; }
      .projects article:hover hr {
        width: 100%; }
      .projects article:hover p {
        bottom: 0; }
    .projects article div {
      margin-top: 30%; }
