* {
	box-sizing: border-box;
}

$dark-brn: #393939;
$black: #2a2e39;
$fire: #D03111;
$cornflower: #4F7CAC;
$offwhite: #fbf5f3;

$header-font: 'ABeeZee', sans-serif;
$sub-heading: 'Cambay', sans-serif;
$content-font: 'Karla', sans-serif;


html {
	width: 100%;
	font-size: 100%;
	background-color: $offwhite;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
}

section {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 4.9em;
	top: -.5em;
	right: 0;
	padding: 0.13em 0 0.4em;
	position: fixed;
	width: 105%;
	color: $offwhite;
	background-color: none;
	//border-bottom: .5em solid $dark-brn;
	z-index: 2;
	transition: all .7s ease-in-out;
	div {
		max-width: 100%;
		width: 100%;
		padding: .7em 6em 0em 8em;
		h1 {
			display: inline-block;
			font-family: $header-font;
			font-size: 1.5em;
			span {
			//	color: #d03111
			}
		 }
	}
}

.header-fixed {
	background-color: rgba(225, 225, 225, .8);
	position: fixed;
	border-bottom: .5em solid $dark-brn;
	color: $dark-brn;
	a {
		color: $dark-brn;
	}

}

.header-toggle {
	top: -15%;
}
nav {
	float: right;
	display: inline-block;
	ul {
		line-height: 2em;
		text-align: right;
		text-decoration: none;
		li {
			position: relative;
			display: inline-block;
			margin-left: 1em;
			vertical-align: middle;
			a {
				font-family: $sub-heading;
				text-decoration: none;
				color: $offwhite;
			}
		}
	}
}

.banner {
	background-image: url('../images/KittPeak_stars.jpg'); 
	background-size: cover;
	padding: 3% 0;
	height: 45em;
}

.marquee {
	background-image: url('../images/desktop.jpg'); 
	background-size: cover;
	padding: 3% 0;
	height: 45em;
	
	#desktop-blank {
		width: 43%;
		height: 10em;
		position: relative;
		left: 3%;
		margin: 3em auto;
		//border: 2px solid black;
		font-size: 2em;
		line-height: 1.5em;
		font-family: $header-font;
		div {
			font-size: 5em;
			height:5em;
			width: 100%;
		}
		h2 {
			font-family: $sub-heading;
			line-height: 2em;
			font-size: 2em;
		}
	}
}

.three-banner {
	height: 30em;
	width: 100%;
	position: relative;
	text-align: center;
	background: linear-gradient(to bottom right, $cornflower, $offwhite);
	border-top: 2px solid $dark-brn;
	border-bottom:2px solid $dark-brn;

	.vector-block{
		width: 80%;
		height: 60%;
		margin: 0 auto;
		margin-top: 5rem;
		.vectors {
			width: 33%;
			height: 100%;
			display: inline-block;
			//border: 1px solid black;
			float: left;
			#desktopSvg {
				margin-top: 0;
				border: 1px solid black;
			}
			#phoneSvg {
				margin-top: 6em;
				border: 1px solid black;
			}
			#tablet{
				margin-top: 4em;
				border: 1px solid black;
			}
		}
	}
	.sub-headings {
		list-style-type: none;
		li{
			display: inline-block;
		}
	}

}

	.portfolio{
		width: 100%;
		margin-top: 0%;
			.portfolio-headr{
				height: 8em;
				background-color: $dark-brn;
				text-align: center;
				h2 {
					margin: 0;
					font-family: $header-font;
				}
		}
			.two-group{
				width: 80%;
				margin: 0 auto;
				display: -webkit-flex-;
				display: flex;
					.project {
						border: 3px solid black;
						width: 41%;
						padding: 1%;
						padding-top: 2.5%;
						margin: 4% 5%;
						display: inline-block;
						-moz-transition-property: background-color;
						-o-transition-property: background-color;
						-webkit-transition-property: background-color;
						transition-property: background-color;
						-moz-transition-duration: 0.2s;
						-o-transition-duration: 0.2s;
						-webkit-transition-duration: 0.2s;
						transition-duration: 0.2s;
						-moz-transition-timing-function: ease-out;
						-o-transition-timing-function: ease-out;
						-webkit-transition-timing-function: ease-out;
						transition-timing-function: ease-out;
						-moz-transition-delay: 0s;
						-o-transition-delay: 0s;
						-webkit-transition-delay: 0s;
						transition-delay: 0s;	
						a {visibility: hidden;}
						&:hover {
							background-color: rgba(43, 63, 112, .5);
								 a {visibility: visible;}
								}
						.project-content {
								width: 91%;
								margin: 0 auto;
								position: relative;

								.project-hover {
									width: 100%;
									height: 69.5%;
									border: 3px solid #2B3F70;
									position: absolute;
									a {
										display: none;
										text-align: center;
										background-color: transparent;
										text-transform: uppercase;
										border: 2px solid #e2e8f2;
										position: absolute;
										left: 50%;
										top: 33%;
										margin-left: -58px;
										display: inline-block;
										padding: .75em;
										text-decoration: none;
										color: #fff;
									}
								}
								h2{ 
									border-bottom: 2px solid black;
									margin: 0;
									margin-top: .4em;

									font-family: $sub-heading;
								}
								p{
									font-family: $header-font;
									font-size: .8em;
									margin: 0;
									margin-top: .5em;
								}
								img {
									border: 2px solid white;
									width: 100%;
									height: auto;
						}
					}
				}
			.selected { margin: 0 auto;}

			}
	}


/* Projects

.projects{
	width: 100%;
	height: 40em;
	text-align: center;
	overflow: hidden;
	#hotorcold {
		background-image: url('../images/thumbnails/hotorcold.png');

	}
	#stackoverflow {
		background-image: url('../images/thumbnails/stackoverflow.png');

	}
	#streetfighter {
		background-image: url('../images/thumbnails/streetfighter.png');

	}
	#musicdiscovery {
		background-image: url('../images/thumbnails/musicdiscovery.png');

	}
	#youtube_api {
		background-image: url('../images/thumbnails/youtube_api.png');

	}
	#water-quiz {
		background-image: url('../images/thumbnails/waterquiz.png');

	}
	

}


*/












